/* font-family: 'Merriweather Sans', sans-serif; text
font-family: 'Open Sans', sans-serif; heading*/ 
.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.LoginLink{
  color: rgba(255, 255, 255, 0.575);
  text-decoration: none;
  margin:12px ;
}

.Logo{
  height: 70px;
  width: 70px;
}
.scrollpy{
  width: 25%;
  float: left;
  height: 5%;

}

/* counter styles */

.counter-bg{
    /* background-color: blueviolet; */
    text-align: center;
    margin: 5% 25% 5% 25%; 
    
}
.up{
  padding: 20px;
  color: white;
  border-radius: 20px;
  margin-right: 30px;
  margin-left: 0px;
  background-color: #06283D;
}
.down{
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: #06283D;
}
/* Styling the announcements */
.announcements{
  padding: 5px;
  background-color:#06283D;
  color: white;

  font-family: 'Merriweather Sans', sans-serif;
}
#grad1{
  background-image: linear-gradient(black, #06283D);
}

.LogoHome{
  height: 5px;
  width: 5px;
}
/* footer and stepper styles */
.footer{
  background-color: #06283D;
  color: white;
  padding-top: 30px;
}
.follow-box p {
  font-family: montserratlight;
  margin: 40px 0 0 0;
  color: #fff;
  font-size: 14px;
  
}
li {
  list-style-type : none;
}

/* style of step cards */
.outer {
  
  display: flex;
  align-items: stretch;
  padding: 25px;
  background-color: #dff6ff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.step {
  flex: 1;
  display: flex;
  border: 1px solid black;
  margin: 5px;
}

.steps-image {
  height: 100%;
  width: 100%;
}
.icon {
  align-items: center;
  margin-top: 12%;
}

/* Login styling */
.App {
  font-family: sans-serif;
  text-align: center;
}
.Loginouter {
  font-size: larger;
  margin-left: 39%;
  width: 300px;
  flex: 1;
}
.LogininputField {
  margin: 10px;
}
.Logintotal {
  margin: 5% 7%;
  align-items: stretch;
}
.Logininput {
  padding: 10px;
  width: 300px;
}
.Loginbutton {
  padding: 10px;
  width: 305px;
  color: white;
  background-color: black;
}
.Loginbutton:hover {
  background-color: rgb(56, 54, 54);
}
.f {
  font-size: 13px;
}
.Loginheading{
  font-size: 30px;
 font-family: 'Open Sans', sans-serif;
 font-weight:600;
}
.Loginicon{
  height: 70px;
  width: 70px;
  background-color:#2B4865;
  border-radius: 10px;
  padding: 0.2%;
  color:white;
  size: larger;
}
/* Styling schemes */
.schemeImage {
  padding: 10px;
  width: 100%;
  height: 500px;
}
.schemeouter {
  
}
.schemesimg {
  width: 95%;
  height: 500px;
}
.schemeslist-group-item {
  background-color: #06283d;
  color: whitesmoke;
}
.schemeannouncements {
  border-radius: 5px;
  border: solid grey;
  /* background-color: #1363df; */
}
.schemeInnerImage{
  background-color:#dff6ff;
}